# only puzzle inputs should be .txt values so we exclude these as not to leak AOC secrets :)
# in FAQ the creator notes "please don't include parts of Advent of Code like the puzzle text or your inputs"
*.txt